/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*------------ header ---------*/
#headerarea{background:#262626;}
.navbar-default {
     background-color: #262626; 
    border-color: #262626; 
}

.navbar-default .navbar-nav > li > a {
    color: #C4C4C4;
    text-transform: uppercase;
	font-size: 13px;
	font-weight: bolder;
	transition: all 1s;
	font-family: 'Lato', sans-serif;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #D85A54;
    background-color: transparent;
}
.navbar {
    margin-bottom: 0;
	padding: 18px 0px;
}
/********css for banerarea*********/
#banerarea{background:#282828;padding:50px 0;}
.baner{}
.baner h2{color: #D5D5D5;
font-family: 'Lato', sans-serif;
font-size: 64px;
margin-top: 0;
font-weight: bold;}
.baner p{color:#7E7E7E;font-size:40px;font-family: 'Lato', sans-serif;font-style:italic;}
.portfolio{background: #EA6660;
border: 0px;
text-transform: uppercase;
color: #FFFFFF;
font-weight: bold;
    margin-bottom: 27px;

margin-top: 40px;
width: 199px;
height: 50px;}
/******servicearea**********/
#servicearea{background:#F8F8F8;padding:70px 0;}
.service {}
.service i{font-size: 73px;
margin-bottom: 14px;}
.service h2{color: #979797;
font-weight: 700;
font-size: 28px;
margin-top: 26px;
}
.service p{color: #A1A1A1;
margin-top: 26px;
font-size: 16px;
line-height: 31px;
}
/**portfolioarea***/
.portfolioarea{padding:80px 0;}
.ourportfolio{}
.ourportfolio h2{color:#929292;font-weight:bold;font-family: 'Lato', sans-serif;}
.ourportfolio p{    color: #D5D5D5;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/**********isotop css********/
* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
display: inline-block;
padding: 0.5em 1.0em;
background: #FF6760;
border: none;
border-radius: 7px;
color: #fff;
font-family: sans-serif;
font-size: 14px;
margin-top: 30px;
cursor: pointer;
text-transform: uppercase;
font-weight: bold;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.button:hover {
  background-color: #595959;
 
  color: #fff;
}

.button:active,
.button.is-checked {
  background-color: #595959;
}

.button.is-checked {

}

.button:active {

}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {

  border-radius: 0;
  margin-left: 0;
  margin-right: 11px;
  border-radius:5px;
}
 

/* ---- isotope ---- */

.grid {
 
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
width:25%;
border:5px solid #fff;
}
.element-item img{width:100%;}
.element-item > * {
  margin: 0;
  padding: 0;
}
/************** contact-section*************/
.contactsection{padding:66px 0;background:#313131;}
.contact{}
.contact h2{color:#E0E0E0; 
font-family: 'Lato', sans-serif;font-weight:bold;}
.contact h4{color:#838383; 
font-family: 'Lato', sans-serif;
font-size:20px;padding: 13px 0px;}
.ouraddress{max-width: 452px;
margin: 0 auto;
overflow: hidden;}
.ouraddress p{font-size: 14px;
color: #838383;
}
.address{float: left;
background: url(../img/img1.png) no-repeat;
background-position: 0px 15px;
padding: 12px 14px;}
.phone{float: left;
background: url(../img/img2.png) no-repeat;
padding: 14px 17px;
background-position: 0px 16px;}
.social{padding: 25px 0px;}
.social i{
	color: #E0E0E0;
	
	font-size: 25px;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	padding: 13px 0px;
	margin-right: 3px;
}
.rf{background:#F3B25B;}
.bf{background:#5883C0;}
.tf{background:#63BEE0;}
.cf{background:#E9A0C4;}
.pf{background:#D35051;}
/******** css for footersection********/
.footersection{background:#2C2C2C;text-align:center;padding:30px 0;}
.footersection p{color: #A3A3A3;
font-weight: bold;
font-size: 15px;
margin-bottom: 0px;
}